# Em Python, tudo é objeto

In [1]:
#Criando uma lista
lst_num = ['Data', 'Science', 'Academy', 'Nota', 10, 10]

In [2]:
#A lista lst_num é um objeto, uma instância da classe lista em python
type(lst_num)

list

In [6]:
lst_num.count(10)

2

In [9]:
#Usamos a função type, para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [11]:
#Criando um novo objeto chamado Carro
class Carro(object):
    pass

#Instância do Carro
palio = Carro()

print(type(palio))

<class '__main__.Carro'>

In [12]:
#Criando uma classe
class Estudante:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [14]:
#Criando um objeto chamado Estudante1 a partir da classe Estudantes
Estudante1 = Estudante("Pele", 12, 9.5)

In [15]:
Estudante1.nome

'Pele'

In [17]:
#Criando uma classe
class Funcionarios:
    def __init__(self, nome, salario):
        self.nome = nome
        self.salario = salario
    
    def listFunc(self):
        print("O nome do funcionário é" + self.nome + " e o salário é R$" + str(self.salario))

In [18]:
#Criando um objeto chamado Func1 a partir da classe Funcionario
Func1 = Funcionarios('Obama', 20000)

In [19]:
#Usando o método da classe
print('***** Usando atributos *****')

***** Usando atributos *****

In [20]:
hasattr(Func1, "nome")

True

In [21]:
hasattr(Func1, "salario")

True

In [24]:
setattr(Func1, "salario", 4500) #Configure o atributo, novo salário

In [25]:
#get obtem o obj
#del deleta o objeto
#has verifica se tem o objeto

In [26]:
print(Func1.salario)

4500